@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(to bottom, rgb(5, 23, 34), rgb(12, 11, 14));
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 20px;  
}

.cabecalho-imagem {
    width: 200px;
    height: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'Roboto', Regular;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
}   

.conteudo {
    margin-bottom: 45px;
    border-top: 0.4px solid #2e4463;
}

.conteudo-principal {
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    margin-top: 80px;
    gap: 20px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Rozha One', Regular;
    font-weight: 400;
    font-size: 28px;
    color: rgb(255, 255, 255);
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Rochester', Regular;
    font-weight: 400;
    font-size: 36px;
    color: rgb(193, 124, 195);
}    

.conteudo-principal-escrito-cargo {
    font-family: 'Noto Serif Bengali', Bold;
    font-weight: 400;
    font-size: 25px;
    color: rgb(255, 255, 255);
}    

.conteudo-principal-escrito-descricao {
    font-family: 'Comic Neue', Regular;
    font-weight: 400;
    font-size: 18px;
    color: rgb(239, 93, 168);
}    

.conteudo-principal-escrito-botao {
    background-color: rgb(28, 47, 71);
    width: 110px;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 2px rgb(255, 225, 255);
    border-radius: 20px;
    font-family: 'Play', Regular;
    font-weight: 400px;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgb(52, 93, 100);
}

.conteudo-principal-imagem {
    width: 360px;
    height: 360px;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.conteudo-secundario {
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
}

.conteudo-secundario-git {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}

.conteudo-secundario-linkedin {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}

.conteudo-secundario-gmail {
    width: 30px;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}

.conteudo-secundario-titulo {
    padding-top: 48px;
    font-family: 'Roboto', Regular;
    font-weight: 400;
    font-size: 18px;
    color: rgb(239, 93, 168);
    margin-bottom: 16px;
}

.rodape {
    padding: 30px;
    border-top: 0.4px solid #2e4463  ;
}

